@charset "UTF-8";

/**** Schrift-font "Roboto" eingebunden*/

@font-face {
    font-family: 'roboto';
    src: url(../fonts/roboto/Roboto-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'roboto-black';
    src: url(../fonts/roboto/Roboto-Black.ttf) format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'roboto-bold';
    src: url(../fonts/roboto/Roboto-Bold.ttf) format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'roboto-medium';
    src: url(../fonts/roboto/Roboto-Medium.ttf) format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'roboto-light';
    src: url(../fonts/roboto/Roboto-Light.ttf) format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'roboto-thin';
    src: url(../fonts/roboto/Roboto-Thin.ttf) format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face{
    font-family: 'roboto-slab';
    src: url(../fonts/roboto_Slab/static/RobotoSlab-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}


/* Bild von <a href="https://pixabay.com/de/users/roegger-607528/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=545377">roegger</a> auf <a href="https://pixabay.com/de/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=545377">Pixabay</a> */

/**** ########### Grundlegende Setups ################################# *****/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 10px;  
}

html{
    scroll-behavior: smooth;
}

section{
    min-height: 100vh;
}

a{
    text-decoration: none;
}
li{
    list-style: none;
}

h1, h2, h3, a{
    font-family: 'roboto-medium', sans-serif;
    font-weight: 500;
    font-size: 1.6rem;
    color: #494949;
    text-transform: uppercase;
}

h1{
    font-size: 3.2rem;
}

h2{
    color: #5d7177;
    font-size: 2.4rem;
}

h3{
    font-size: 4rem;
    margin: 5rem 0 0 0.5rem;
}

h4, p{
    font-family: 'roboto-slab', serif;
    font-size: 1.6rem;
}

h3{
    font-size: 4rem;
}

hr{
    width: 3rem;
    height: 0.3rem;
    background: #494949;
    border: 0;
    margin: 0 auto 4rem auto;
}

#logo, li, img, button{
    transition: all 300ms;
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    -o-transition: all 300ms;    
}

.flex-center{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.fa-bars{
    display: none;
    order: 1;
}
/***** ########### Header ################################# *****/

/* ### Container allg. ### */
header{
    min-width: 100%;
    position: fixed; /* "sticky Header" */
    top: 0;
    left: 0;
    background: #ffffff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
    z-index: 99;     /* Header über alle anderen Objekte legen */
}
/* ### Navigation ### */
.menu{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.item {
    order: 2;
}

.item a{
    padding: 1rem 2rem;
    margin-right: 1rem;
}

.item:hover{
    transform: translateY(0.5rem);
}

.item a:hover{
    background-color: #494949;
    color: white;
}



/* ### Logo ### */
#logo{
    height: 6.5rem;
    /* margin: 0.5rem 40% 0.5rem 5rem; */
    padding: 0.5rem 0 0.5rem 5rem;
    -ms-flex: 1; /* IE 10 */
    -webkit-flex: 1; 
    -moz-flex: 1; 
    flex:1;
    /* Flex-Grow / Flex-Shrink / Flex-Basis */
    order: 0;
}

#logo:hover{
    opacity: 0.7;
}

#logo img{
    height: 100%;
}


/***** ########### Main ################################# *****/
/* ### Section Allg. ### */

.pfeil{
    width: 4rem;
    height: 4rem;
    border-radius: 2.5rem;
    background-color: rgb(255, 255, 255, 1);
    margin-top: 4rem;
    opacity: 0.5;
}

.pfeil:hover{
    opacity: 0.8;
}

.up{
    -ms-transform: rotate(20deg); /* IE 9 */
    transform: rotate(180deg);
}

.down{
    margin: 0.5rem;
}
    
/* ### Section Home ### */
#home{
    background-image: url(../img/landing1.jpg);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}
#home h1{
    font-size: 11rem;
}

#home h2{
    font-size: 2.5rem;
    color: white;
}

/* ### Section About ### */

#avatar{
    width: 20rem;   /* 200px */
    margin-bottom: 2rem;
}
#about img:hover{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
}

#about h4{
    font-size: 2.5rem;
    margin-bottom: 2.5rem;
}

#about p{
    text-align: center;
    max-width: 70rem;
    margin: 0 5rem;
}

/* ### Section Work ### */
#work{
    background-color: #f0f0f0;
}

#projects{
    max-width: 90rem;  /*somit ist es "responsiv" und kann sich der Bildschirmbreite anpassen*/
}

#work ul{
    display: flex;
    flex-flow: wrap;
    /* align-items: center; */
    justify-content: space-around;
}

#projects img{
    width: 28rem;
    height: 17rem;
    margin-bottom: 1.5rem;
    border-radius: 0.5rem;
}

#projects img:hover{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    box-shadow:  0 0.5rem 0.5rem rgba(0,0,0,0.3);
}

/* ### Section Contact ### */

section#contact{
    height: calc(100rem - 25rem);
}

form input, textarea, button{
    font-family: 'roboto-slab', serif;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
    border: 0.2rem solid #494949;
}

form input, button[type="submit"]{
    width: 55rem;
    height: 3rem;
}

form input:first-child{
    margin-top: 1rem;
}

form textarea{
    width: 55rem;
    height: 20rem;
    resize: none;
    padding-top: 0.5rem;
}

form button{
    font-weight: 600;
    height: 5rem;
    color: #494949;
    background-color: #f0f0f0;
}

button:hover{
    color: #f0f0f0;
    background-color: #494949;
    cursor: pointer;
}

.input_text{
    padding-left: 1rem;
    color: #494949;
    background-color: #f0f0f0;

}

/* ### Back to top Button ### */

a#top-btn{
    font-size: 2rem;
    position: fixed;
    bottom: 10%;
    right: 5%;
    width: 4rem; 
    background-color: #f0f0f0;
    border-radius: 15px;
    text-decoration: none;
    text-align: center;
    line-height: 4rem;
}

a#top-btn:hover{
    color: white;
    background-color: #494949; 
}

/* ### Placeholder ###*/

::-webkit-input-placeholder {color: #999999;}
::-moz-placeholder {color: #999999;}
:-ms-input-placeholder {color: #999999;}
:-moz-placeholder {color: #999999;}



/***** ########### Footer ################################# *****/

footer{
    width: 100%;
    height: 7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #3f3f3f;
    color: #f0f0f0;  
}

footer p small{
    font-size: 1.2rem;
}


/***** ########### Media-Queries ################################# *****/

/* ### Tablets ### */

@media screen and (max-width: 1024px) { 
    header{
        height: auto;
    }

    #logo{
        height: 5rem;
    }

    header nav ul li a{
        font-size: 1.5rem;
    }

    #home h1{
        font-size: 9rem;
    }

    #home h2{
        font-size: 2.2rem
    }

    #work {
        flex-wrap: wrap;
    }
}

/* ### Tablets ### */

@media screen and (max-width: 767px) {
    /* #logo{
        height: 4rem;
    } */

    header nav ul li a{
        font-size: 1.4rem;
    }

    #home h1{
        font-size: 7rem;
    }

    #home h2{
        font-size: 2.0rem
    }

    form input, button[type="submit"], textarea.input_text {
        width: 40rem;
    }

}

/* ### Mobile ### */

@media screen and (max-width: 480px) {  /* 480px */
    #logo{
        padding-left: 2rem;
    }
    .toggle{
        padding-right: 2rem;
    }

    .item{
        width: 100%;
        text-align: center;
        border-bottom: 1px solid #a09e9e;
        display: none;
        /* height: 0;
        overflow: hidden;
        margin: 0;
        padding: 0; */
      }
    
    .item a{
        display: list-item;
        margin: 0;
    }

    .active{
        display: block;
    }

    .item:hover{
        transform: none;
    }
    
    span.fa-bars{
        font-size: 3rem;
        display: inline-block;
        width: 100%;
        cursor: pointer;
        text-align: right;
    }

    span.fa-bars:hover{
        opacity: 0.8;
    }

    #home h1{
        font-size: 5rem;
    }

    form input, button[type="submit"], textarea.input_text {
        width: 30rem;
    }
}





