/*! ####################### Navigation Styling #################################### !*/
nav{
  background: #222; 
  padding: 5px 20px ;
}
ul{
  list-style-type: none;
}
a{
  color: white;
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
  cursor: pointer;
}
.menu li{
  font-size: 1.2em;
  padding: 15px 5px;
}

.menu li a{
  display: block;
}

.logo img{
  width: fit-content;
}

.button.secondary{
  border-bottom: 1px #444 solid;
}

.icon{
  margin-right: 10px;
}

/* ##### Mobile Menu ##### */

.menu{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.toggle{
  order:1;
}
.item.button{
  order:2;
}

.item{
  width: 100%;
  text-align: center;
  order:3;
  display: none;
}

.active{
  transition: all .25s;
}

.item.active{
  display: block;
}

.bars{
  background: #999;
  display: inline-block;
  height: 2px;
  width: 25px;
  position: relative;
}

.bars::before,.bars::after{
  background: #999;
  display: inline-block;
  height: 2px;
  width: 25px;
  position: absolute;
  content: "";
}

.bars::before{
  top: 8px;
}

.bars::after{
  top: -8px;
}

/* ##### Tablet Menu #####*/

@media all and (min-width: 468px){
    .menu{
      justify-content: center;
    }

    .logo{
      flex:1;
    }
    .item.button{
      width: auto;
      order:1;
      display: block;
    }
    .toggle{
      order:2;
    }

    .button.secondary{
      border:0;
    }

    .button a{
      padding: 10px 20px;
      margin: 0 5px;
      background: teal;
      border: 1px solid #006d6d;
      border-radius: 50em;
      text-decoration: none;
      cursor: pointer;
    }
    .button.secondary a{
      background: transparent;
    }
    .logo, .button a:hover{
      transition: all .25s;
    }

     /*alle Elemente mit Class "button" die nicht Class "secondary" haben
     bekommen einen hover effekt über den a link */
    .button:not(.secondary) a:hover{                   
      background: #006d6d;
      border-color: #005959;
    }

    .button.secondary a:hover{
      color: #ddd;
    }
}

@media all and (min-width: 768px){

    .item{
      display: block;
      width: auto;
    }
    .toggle{
      display: none;
    }

    .logo{
      order:0;
    }
    .item{
      order:1;
    }
    .button{
      order:2;
    }

    .menu li{
      padding: 15px 10px;
    }

    .menu li.button{
      padding-right: 0;
    }

}